@model List<EjercicioMVC.Models.EmpleadCLS>

<table class="table tab-content table-bordered table-hover">
    <thead style="color: darkseagreen">
        <tr>
            <td width="5%"><b>Empleado</b></td>
            <td width="15%"><b>Nombre</b></td>
            <td width="15%"><b>Apellido</b></td>
            <td width="15%"><b>Fecha de Contrato</b></td>
            <td width="10%"><b>Sueldo</b></td>
            <td width="10%"><b>Sexo</b></td>
            <td width="20%"><b>Operaciones</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-warning">
                <td>
                    <strong>@item.IDEMPLEADO</strong>
                </td>
                <td>
                    <strong>@item.NOMBRE</strong>
                </td>
                <td>
                    <strong>@item.APELLIDO</strong>
                </td>
                <td>
                    <strong>@item.FECHACONTRATO</strong>
                </td>
                <td>
                    <strong>@item.SUELDO</strong>
                </td>
                <td>
                    @if (item.IDSEXO == 0)
                    {
                        <strong>Femenino</strong>
                    }
                    else
                    {
                        <strong>Masculino</strong>
                    }
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Modificar", new { id = item.IDEMPLEADO }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IDEMPLEADO }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Habilitar", "HabilitarEmpleado", new { id = item.IDEMPLEADO }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
